.slide-image{
  height: 280px;
  width: 400px;
}

.card-header{
  text-align: center;
}

.card{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
  border-color: #0d0d0d;
}

.card-title{

}

