.slide-image{
  height: 230px;
  width: 380px;

  max-height: 230px;

  max-width: 380px;

}


.card-header{
  text-align: center;
}

.card{
  text-align: center;
  border-radius: 20px;
  margin-bottom: 40px;
  border-color: #e0ac08;
}

.card:hover{
  cursor: pointer;
  color: black;
}


