<div class="container">
  <div class="row mt-2 justify-content-center rounded-5">
    <div class="col-md-3 my-4 m-5" *ngFor="let noticia of noticias ">
      <div class="card border-light  bg-dark-subtle">
        <div class="card-header ">
          <div class="card-img border-3">
            <swiper-container pagination="true">
              <swiper-slide class="slide-full" *ngFor="let imagen of noticia.images">
                <img [src]="imagen" class="slide-image" alt="Imagen">
              </swiper-slide>
            </swiper-container>
          </div>
          <div class="card-title">
            <h3> {{noticia.title}}</h3>
            <br>
          </div>

          <div class="card-subtitle">
            {{noticia.subtitle}}
          </div>


          <mat-expansion-panel hideToggle class="bg-secondary-subtle text-center m3"   matTooltip = "Pulse aqui para ver el contenido de la noticia" >
            <mat-expansion-panel-header class="text-center bg-warning btn-outline-dark  ">
              <mat-panel-title class="text-center">
                CONTENIDO - PULSE AQUÍ
              </mat-panel-title>
            </mat-expansion-panel-header>
            {{noticia.content}}
          </mat-expansion-panel>
        </div>

        <div class="card-body">


            <div class="row-cols-auto">
              <p>{{noticia.section.name}}</p>
          </div>
          <div class="col">
            <div class="likes">
              <!--INNOVACION 2-->
              <mat-chip-listbox aria-label="Seleccion de likes">
                <mat-chip-option    color="accent"    >Me gusta</mat-chip-option>
                <mat-chip-option color="primary">No me gusta</mat-chip-option>
              </mat-chip-listbox>
            </div>

          </div>

        </div>

        <div class="card-footer">
          <div class="row-cols-auto">
            {{noticia.author}} -
            {{noticia.date}}
          </div>
          <div class="row-cols-2 p-1 ">
            <button class="btn btn-outline-dark bg-secondary col-xs-2 margin-left"
                    [routerLink]="'/principal/edit/'+noticia._id" type="submit">Editar
            </button>
            <button class="btn btn-outline-dark bg-danger col-xs-2 margin-left" data-bs-toggle="modal"
                    (click)="noticiaDelete=noticia"
                    data-bs-target="#deleteModal">
              Borrar
            </button>
            <div class="modal fade" id="deleteModal"
                 tabindex="-1" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="deleteModalLabel">
                      Borrar Noticia</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Quieres borrar {{noticiaDelete.title}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal"
                            (click)="deleteNoticia(noticiaDelete)">Borrar
                    </button>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>


  </div>
</div>

