<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2 my-2">
      <h2 *ngIf="!edit">Añadir una noticia</h2>
      <h2 *ngIf="edit">Editar una noticia</h2>
    </div>
    <div class="col-md-4 offset-md-2">
      <form [formGroup]="noticiaForm">
        <div class="form-floating mb-3">
          <input formControlName="title" type="text" class="form-control"
                 id="title" placeholder="title">

          <label for="title">Titulo</label>
          <div *ngIf="title.invalid && (title.dirty || title.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="title.errors.required || title.errors['notOnlyWhitespace']">
              Titulo es obligatorio
            </div>
            <div *ngIf="title.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="subtitle" type="text" class="form-control"
                 id="subtitle" placeholder="subtitle">

          <label for="subtitle">Subitulo</label>
          <div *ngIf="subtitle.invalid &&
(subtitle.dirty || subtitle.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="subtitle.errors.required || subtitle.errors['notOnlyWhiteSpace']">
              Subitulo es obligatorio
            </div>
            <div *ngIf="subtitle.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="content" type="text"
                 class="form-control" id="content"
                 placeholder="content">

          <label for="content">Contenido</label>
          <div *ngIf="content.invalid &&
(content.dirty || content.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="content.errors.required || content.errors['notOnlyWhiteSpace']">
              Contenido es obligatorio
            </div>
            <div *ngIf="content.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="author" type="text"
                 class="form-control" id="author"
                 placeholder="author">
          <label for="author">Autor</label>
          <div *ngIf="author.invalid &&
(author.dirty || author.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="author.errors.required || author.errors['notOnlyWhiteSpace']">
              Autor es obligatorio
            </div>
            <div *ngIf="author.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>


        <!--IMAGENES CUANDO SE EDITA-->
        <div *ngIf="edit" class=" mb-3">
          <label class="form-label" for="images">Imagenes</label>
          <select multiple formControlName="images" type="text" class="form-select"
                  id="images" >

            <option *ngFor='let img of mostrarImagen' [value]="img">{{img}}</option>
          </select>


          <div *ngIf="images.invalid &&
(images.dirty || images.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="images.errors.required || images.errors['notOnlyWhiteSpace']">
              Imagenes es obligatorio
            </div>
            <div *ngIf="images.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>

        <!--IMAGENES CUNADO SE AÑADE Y NO SE EDItA-->

        <div *ngIf="!edit" class=" mb-3">
          <label class="form-label" for="imagesAdd">Imagenes</label>
          <select multiple formControlName="images" type="text" class="form-select"
                  id="imagesAdd">

            <option *ngFor='let img of mostrarImagen' [value]="img">{{img}}</option>
          </select>


          <div *ngIf="images.invalid &&
(images.dirty || images.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="images.errors.required || images.errors['notOnlyWhiteSpace']">
              Imagenes es obligatorio
            </div>
            <div *ngIf="images.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-8">
            <div [formGroup]="myNewImage" class="form-floating mb-3">
              <input
                type="text" class="form-control"
                id="newImage"
                formControlName="newImage"
                placeholder="Nueva Imagen">
              <label for="newImage">
                Nueva Imagen</label>
            </div>

          </div>
          <div class="col-4 pt-2">
            <h3>
              <fa-icon [icon]="faCirclePlus" (click)="addNewImages(newImage)" style="color: greenyellow"></fa-icon>
            </h3>

          </div>
        </div>


        <div class="form-floating mb-3">
          <input formControlName="date" type="date" class="form-control"
                 id="date" placeholder="date">

          <label for="date">Fecha</label>
          <div *ngIf="dateNoticia.invalid &&
(dateNoticia.dirty || dateNoticia.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="dateNoticia.errors.required || dateNoticia.errors['notOnlyWhiteSpace']">
              Fecha es obligatorio
            </div>
            <div *ngIf="dateNoticia.errors['minlength']">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>
        <div formGroupName="section">
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control"
                   id="name" placeholder="name">

            <label for="name">Seccion</label>
            <div *ngIf="name.invalid &&
(name.dirty || name.touched)"
                 class="alert alert-warning" role="alert">
              <div *ngIf="name.errors.required || name.errors['notOnlyWhiteSpace']">
                Seccion es obligatorio
              </div>
              <div *ngIf="name.errors['minlength']">
                Mínimo 2 caracteres
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="icon" type="text" class="form-control"
                   id="icon" placeholder="icon">
            <label for="icon">Icono</label>
            <div *ngIf="icon.invalid &&
(icon.dirty || icon.touched)"
                 class="alert alert-warning" role="alert">
              <div *ngIf="icon.errors.required || icon.errors['notOnlyWhiteSpace']">
                Icono es obligatorio
              </div>
              <div *ngIf="icon.errors['minlength']">
                Mínimo 2 caracteres
              </div>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success"
                  [disabled]="noticiaForm.invalid"
                  (click)="edit?editNoticia(): addNoticia()">Añadir Noticia
          </button>

        </div>


      </form>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>{{title.value === '' ? 'Título' : title.value}}</h2>
          </div>
          <div class="card-subtitle">
            {{subtitle.value === '' ? 'Subtítulo' : subtitle.value}}</div>
        </div>

        <img [src]="images.value
===''?'/assets/images/no-image-icon.jpg':images.value" class="card-img-top"
             [alt]="title.value"/>
        <div class="card-body">
          <p
            class="card-text">{{content.value === '' ? 'Content' : content.value}}</p>
        </div>
        <div class="card-footer">
          <div class=" d-flex justify-content-between">
            <p class="text-muted ">
              {{ dateNoticia.value === '' ? (date | date: 'mediumDate') :
              dateNoticia.value | date: 'mediumDate'}}</p>
          </div>
          <div class=" d-flex justify-content-between">
            <p class="text-muted ">
              {{author.value === '' ? 'Author' : author.value}}</p>
          </div>
          <div class=" d-flex justify-content-between">
            <p class="text-muted ">
              {{name.value === '' ? 'Seccion' : name.value}}</p>
          </div>
          <div class=" d-flex justify-content-between">
            <p class="text-muted ">
              {{icon.value === '' ? 'Icono' : icon.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-toast class="toast-container position-fixed
bg-success text-light top-0 end-50 p-1"
            style="z-index: 1200" *ngIf="toastShow">
    {{toast.body}}
  </ng-toast>
</div>
